name: Docker Image Pull check container success

on:
  pull_request:
    branches: [ "main" ]
jobs:
  test:
    name: docker test
    runs-on: ubuntu-latest 
    permissions: 
      contents: read
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag pytest_container:v1 --no-cache
    - name: Run Docker image
      run: docker run pytest_container:v1
  
    
