name: Docker Tests

on:
  push:
    branches: ["**"]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Clear Docker cache
        run: docker builder prune -af

      - name: Build Docker Image (no cache)
        run: docker build --no-cache -t myapp-test .

      - name: Run Tests Inside Container
        run: docker run --rm myapp-test pytest -q
